body {
  background-color: #ffffff;
}

.login-container {
  max-width: 1020px;
  margin: 80px auto;
  padding: 60px 50px;
  background-color: #fff;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.login-title {
  font-size: 36px;
  margin-top: -65px;
  margin-bottom: 40px;
  font-weight: bold;
}

.login-form .form-group {
  width: 100%;
  max-width: 680px;
  margin-bottom: 32px;
  text-align: center;
}

.login-form label {
  display: block;
  font-size: 25px;
  margin-bottom: 10px;
  max-width: 900px;
  margin-left: 120px;
  font-weight: bold;
  text-align: left;
}

.login-form input {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  display: block;
  margin-left: 120px;
  padding: 16px 18px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  margin-left: 120px;
  text-align: left;
}

.error-center {
  margin-left: 0;
  margin-top: 12px;
  text-align: center;
}

.login-button {
  width: 100%;
  max-width: 680px;
  margin: 0 auto;
  padding: 16px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 90px;
}

.login-button:hover {
  opacity: 0.9;
}

.register-link {
  margin-top: 24px;
  text-align: center;
  margin-top: 40px;
}

.register-link a {
  color: #007bff;
  font-size: 16px;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1512px) {
  .login-container {
    max-width: 800px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1540px) {
  .login-container {
    max-width: 650px;
    padding: 70px 60px;
  }

  .login-title {
    font-size: 38px;
  }

  .login-form input {
    font-size: 20px;
    padding: 16px;
  }

  .login-button {
    font-size: 22px;
    padding: 18px;
  }
}

@media screen and (max-width: 1366px) {
  .login-container {
    max-width: 650px;
    padding: 40px;
  }

  .login-title {
    font-size: 30px;
  }

  .login-form input {
    font-size: 16px;
  }

  .login-button {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .login-container {
    max-width: 90%;
    padding: 40px;
  }

  .login-title {
    font-size: 28px;
  }

  .login-form input {
    font-size: 16px;
    padding: 12px;
  }

  .login-button {
    font-size: 18px;
    padding: 14px;
  }
}

@media screen and (max-width: 767px) {
  .login-container {
    padding: 20px;
  }

  .login-title {
    font-size: 20px;
  }
}